html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Sen', sans-serif;
  background-color: #1e2420;
  color: aliceblue;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}