.container {
  padding: 0 2rem;
  background-color: #1e2420;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
    height: 1em;
    margin-left: 1rem;
}