/* :root {
  --bg-dark: #1e2420;
  --bg-light: #f0f8ff;
  --text-light: #f0f8ff;
} */


.container {
  padding: 0 2rem;
  background-color: #1e2420;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 3rem 0;
  line-height: 1.15;
  font-size: 3rem;
  font-family: 'Rubik Mono One', sans-serif;
}

.form_input{
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #eaeaea;
  background-color: transparent;
  font-family: 'Sen', sans-serif;
  color: #f0f8ff;
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.loginBtn{
  border-radius: 5px;
  border: none;
  background-color: #f0f8ff;
  color: #1e2420;
  font-family: 'Sen', sans-serif;
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
  margin: 1rem 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.loginBtn:hover{
  background-color: #ffffff;
  color: #131614;
  transition: all 0.2s ease-in-out;
}

.logo {
  height: 1em;
  margin-left: 1rem;
}

.red{
  color: #ff0000;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
