
/*
 * Utilities styles
 */

 /*  display  */
 .d-flex {
    display: flex;
  }
  
  .d-block {
    display: block;
  }

  .d-none {
    display: none;
  }

  
.flex-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  
  .flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  
  .flex-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  
  .flex-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  
  .flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  
  .flex-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  
  .flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  
  .flex-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  
  .flex-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }
  
  .flex-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }
  
  .flex-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  
  .flex-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
  
  .justify-content-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  
  .justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  
  .justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  
  .justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  
  .justify-content-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  
  .align-items-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  
  .align-items-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }
  
  .align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  
  .align-items-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }
  
  .align-items-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }
  
  .align-content-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }
  
  .align-content-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }
  
  .align-content-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }
  
  .align-content-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }
  
  .align-content-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }
  
  .align-content-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }
  
  .align-self-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }
  
  .align-self-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }
  
  .align-self-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }
  
  .align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }
  
  .align-self-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }
  
  .align-self-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
  
  .w-25 {
    width: 25% !important;
  }
  
  .w-50 {
    width: 50% !important;
  }
  
  .w-75 {
    width: 75% !important;
  }
  
  .w-100 {
    width: 100% !important;
  }
  
  .w-auto {
    width: auto !important;
  }
  
  .h-25 {
    height: 25% !important;
  }
  
  .h-50 {
    height: 50% !important;
  }
  
  .h-75 {
    height: 75% !important;
  }
  
  .h-100 {
    height: 100% !important;
  }
  
  .h-auto {
    height: auto !important;
  }
  
  .mw-100 {
    max-width: 100% !important;
  }
  
  .mh-100 {
    max-height: 100% !important;
  }
  
  .min-vw-100 {
    min-width: 100vw !important;
  }
  
  .min-vh-100 {
    min-height: 100vh !important;
  }
  
  .vw-100 {
    width: 100vw !important;
  }
  
  .vh-100 {
    height: 100vh !important;
  }

/*  shadow  */
  
.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }
  
  .shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
  
  .shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  }
  
  .shadow-none {
    box-shadow: none !important;
  }


  /*  Margin and padding  */
  
  .m0 {
    margin: 0 !important;
  }
  
  .mt0,
  .my0 {
    margin-top: 0 !important;
  }
  
  .mr0,
  .mx0 {
    margin-right: 0 !important;
  }
  
  .mb0,
  .my0 {
    margin-bottom: 0 !important;
  }
  
  .ml0,
  .mx0 {
    margin-left: 0 !important;
  }
  
  .m1 {
    margin: 0.25rem !important;
  }
  
  .mt1,
  .my1 {
    margin-top: 0.25rem !important;
  }
  
  .mr1,
  .mx1 {
    margin-right: 0.25rem !important;
  }
  
  .mb1,
  .my1 {
    margin-bottom: 0.25rem !important;
  }
  
  .ml1,
  .mx1 {
    margin-left: 0.25rem !important;
  }
  
  .m2 {
    margin: 0.5rem !important;
  }
  
  .mt2,
  .my2 {
    margin-top: 0.5rem !important;
  }
  
  .mr2,
  .mx2 {
    margin-right: 0.5rem !important;
  }
  
  .mb2,
  .my2 {
    margin-bottom: 0.5rem !important;
  }
  
  .ml2,
  .mx2 {
    margin-left: 0.5rem !important;
  }
  
  .m3 {
    margin: 1rem !important;
  }
  
  .mt3,
  .my3 {
    margin-top: 1rem !important;
  }
  
  .mr3,
  .mx3 {
    margin-right: 1rem !important;
  }
  
  .mb3,
  .my3 {
    margin-bottom: 1rem !important;
  }
  
  .ml3,
  .mx3 {
    margin-left: 1rem !important;
  }
  
  .m4 {
    margin: 1.5rem !important;
  }
  
  .mt4,
  .my4 {
    margin-top: 1.5rem !important;
  }
  
  .mr4,
  .mx4 {
    margin-right: 1.5rem !important;
  }
  
  .mb4,
  .my4 {
    margin-bottom: 1.5rem !important;
  }
  
  .ml4,
  .mx4 {
    margin-left: 1.5rem !important;
  }
  
  .m5 {
    margin: 3rem !important;
  }
  
  .mt5,
  .my5 {
    margin-top: 3rem !important;
  }
  
  .mr5,
  .mx5 {
    margin-right: 3rem !important;
  }
  
  .mb5,
  .my5 {
    margin-bottom: 3rem !important;
  }
  
  .ml5,
  .mx5 {
    margin-left: 3rem !important;
  }
  
  .p0 {
    padding: 0 !important;
  }
  
  .pt0,
  .py0 {
    padding-top: 0 !important;
  }
  
  .pr0,
  .px0 {
    padding-right: 0 !important;
  }
  
  .pb0,
  .py0 {
    padding-bottom: 0 !important;
  }
  
  .pl0,
  .px0 {
    padding-left: 0 !important;
  }
  
  .p1 {
    padding: 0.25rem !important;
  }
  
  .pt1,
  .py1 {
    padding-top: 0.25rem !important;
  }
  
  .pr1,
  .px1 {
    padding-right: 0.25rem !important;
  }
  
  .pb1,
  .py1 {
    padding-bottom: 0.25rem !important;
  }
  
  .pl1,
  .px1 {
    padding-left: 0.25rem !important;
  }
  
  .p2 {
    padding: 0.5rem !important;
  }
  
  .pt2,
  .py2 {
    padding-top: 0.5rem !important;
  }
  
  .pr2,
  .px2 {
    padding-right: 0.5rem !important;
  }
  
  .pb2,
  .py2 {
    padding-bottom: 0.5rem !important;
  }
  
  .pl2,
  .px2 {
    padding-left: 0.5rem !important;
  }
  
  .p3 {
    padding: 1rem !important;
  }
  
  .pt3,
  .py3 {
    padding-top: 1rem !important;
  }
  
  .pr3,
  .px3 {
    padding-right: 1rem !important;
  }
  
  .pb3,
  .py3 {
    padding-bottom: 1rem !important;
  }
  
  .pl3,
  .px3 {
    padding-left: 1rem !important;
  }
  
  .p4 {
    padding: 1.5rem !important;
  }
  
  .pt4,
  .py4 {
    padding-top: 1.5rem !important;
  }
  
  .pr4,
  .px4 {
    padding-right: 1.5rem !important;
  }
  
  .pb4,
  .py4 {
    padding-bottom: 1.5rem !important;
  }
  
  .pl4,
  .px4 {
    padding-left: 1.5rem !important;
  }
  
  .p5 {
    padding: 3rem !important;
  }
  
  .pt5,
  .py5 {
    padding-top: 3rem !important;
  }
  
  .pr5,
  .px5 {
    padding-right: 3rem !important;
  }
  
  .pb5,
  .py5 {
    padding-bottom: 3rem !important;
  }
  
  .pl5,
  .px5 {
    padding-left: 3rem !important;
  }